# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="libsql://algohelper-tkruer.turso.io"

TURSO_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjQzNTQxMzQsInAiOnsicnciOnsibnMiOlsiNTc0NDE0ZjItMjMyMS00NGViLTk4MWQtMmU0YzM4NjU0NzI1Il19fX0.6o98Mli_QVHX7rJ-KOO7OQYv1Fde5bktW0_H6d8FlhDhQU5hSPdbrD7iu4O7cX6-NrO8i_onTE9J8Src2-8jDg"
TURSO_URL="libsql://algohelper-tkruer.turso.io"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
